/*
color scheme from http://www.colorschemer.com/online.html
seed with #CCD9FF
*/
body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #CCD9FF;
  position: relative;
}

h3 {
   width: 80%;
   background-color: #CCD9FF;
   padding: 10px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

table {
    border-style: solid;
    border-width: 2px;  
    border-collapse: collapse;
    empty-cells: show;
    width: 80%;
}

tr{
	width: 80%;
}
td, th {
    border-bottom: 1px #000000 dotted;
    padding: 5px;
    text-align: left;
}
input:focus{
   background-color:#FFE38F;
}
#page{
    margin: 1% 10% 3% 10%;
}
#dataentry{
    padding: 0px  0px 20px 0px;
}

#quick, #manual{
   background-color: #F2FFCC;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   padding: 10px;
}

#suggestbox, #search{
	font-size: large;
	font-weight: bold;
}

#searchBar{
   width: 80%;
   background-color: #F2FFCC;
   text-align: right;
   padding: 10px;
}

#max25{
	background-color: #CCD9FF;
}
#bookshelf, #userlist, #about_wtmb, #group_table{
    background-color: white;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#group_table.td {
    padding: 10px;
}

br {
	clear: left;
}

#about,#import,#lo{
  float: right;
  padding: 10px;
}

.colone {
  width: 15%;
}
.coltwo {
  width: 60%;
}
.colthree {
   width: 15%;
}
.colfour {
   width: 10%;
}
.action{
   text-align: right;
}

#show_options {
  float: right;
}

#sidebar {
   float: right;
   background-color: FFD9CC;
   border-style: solid;
   border-width: 2px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   padding: 15px;
}

.bignum{
  background-color: #F2FFCC;
  border-style: solid;
  border-width: 4px;
  border-color: #8FABFF;
  padding: 5px 9px 5px 9px;
  font-weight: bold;
}

.nslv{
  background-color: #F2FFCC;
}

img{
  border-style: none;
}

.stand_out{
  font-weight: bold;
  padding: 1px;
}

.checked{
	background-color: #F2FFCC;
}
/* 
================================================
autosuggest, inquisitor style
================================================
*/

div.autosuggest
{
	position: absolute;
	background-image: url(img_inquisitor/as_pointer.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 10px 0 0 0;
}

div.autosuggest div.as_header,
div.autosuggest div.as_footer
{
	position: relative;
	height: 6px;
	padding: 0 6px;
	background-image: url(img_inquisitor/ul_corner_tr.gif);
	background-position: top right;
	background-repeat: no-repeat;
	overflow: hidden;
}
div.autosuggest div.as_footer
{
	background-image: url(img_inquisitor/ul_corner_br.gif);
}

div.autosuggest div.as_header div.as_corner,
div.autosuggest div.as_footer div.as_corner
{
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	width: 6px;
	background-image: url(img_inquisitor/ul_corner_tl.gif);
	background-position: top left;
	background-repeat: no-repeat;
}
div.autosuggest div.as_footer div.as_corner
{
	background-image: url(img_inquisitor/ul_corner_bl.gif);
}
div.autosuggest div.as_header div.as_bar,
div.autosuggest div.as_footer div.as_bar
{
	height: 6px;
	overflow: hidden;
	background-color: #333;
}


div.autosuggest ul
{
	list-style: none;
	margin: 0 0 -4px 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

div.autosuggest ul li
{
	color: #ccc;
	padding: 0;
	margin: 0 4px 4px;
	text-align: left;
}

div.autosuggest ul li a
{
	color: #ccc;
	display: block;
	text-decoration: none;
	background-color: transparent;
	text-shadow: #000 0px 0px 5px;
	position: relative;
	padding: 0;
}
div.autosuggest ul li a:hover
{
	background-color: #444;
}

div.autosuggest ul li.as_highlight a:hover
{
	background-color: #1B5CCD;
}

div.autosuggest ul li a span
{
	display: block;
	padding: 3px 6px;
	font-weight: bold;
}

div.autosuggest ul li a span small
{
	font-weight: normal;
	color: #999;
}

div.autosuggest ul li.as_highlight a span small
{
	color: #ccc;
}

div.autosuggest ul li.as_highlight a
{
	color: #fff;
	background-color: #1B5CCD;
	background-image: url(img_inquisitor/hl_corner_br.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

div.autosuggest ul li.as_highlight a span
{
	background-image: url(img_inquisitor/hl_corner_bl.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}

div.autosuggest ul li a .tl,
div.autosuggest ul li a .tr
{
	background-color: transparent;
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
}
div.autosuggest ul li a .tr
{
	right: 0;
}

div.autosuggest ul li.as_highlight a .tl
{
	left: 0;
	background-image: url(img_inquisitor/hl_corner_tl.gif);
	background-position: bottom left;
}

div.autosuggest ul li.as_highlight a .tr
{
	right: 0;
	background-image: url(img_inquisitor/hl_corner_tr.gif);
	background-position: bottom right;
}



div.autosuggest ul li.as_warning
{
	color: #ccc;
	font-weight: bold;
	text-align: center;
}

div.autosuggest ul em
{
	font-style: normal;
	color: #6EADE7;
}